/* 超小屏幕 */
@media screen and (max-width: 767px) {
  .NavBar {
    .Nav_Left {
    }
    .Nav_Center {
      text-align: center;
      h2 {
        font-size: 0.203125rem;
        margin: 0;
        width: 100%;
      }
    }
  }
  h1 {
    margin-bottom: 0.15625rem !important;
  }
  tr {
    padding: 0 !important;
  }
  textarea {
    width: 1.5625rem !important;
  }
  .Nav_Left {
    margin-left: 0 !important;
  }
}
.container-fluid {
  padding: 0;
}
// 广告位置
.adver {
  width: 100%;
  height: 0.234375rem;
  background-color: #42b983;
}
body {
  background-color: #fff !important;
}
// 反馈内容设置
.container {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  .row {
    margin: 0;
    padding: 0;
  }
  .content {
    width: 100%;
    background-color: #fff;
    .feedTitle {
      width: 100%;
      text-align: center;
      font-size: 0.195313rem;
      margin-bottom: 0.3125rem;
    }
    table {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      tbody {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        tr {
          width: 100%;
          padding-left: 0.390625rem;
          margin-top: 0.15625rem;
          td {
            input:focus,
            select:focus,
            textarea:focus {
              border-color: #409eff;
            }
            input,
            select {
              outline: none;
              border: 1px solid #444;
              height: 0.234375rem;
              width: 1.5625rem;
              border-radius: 0.039063rem;
              padding-left: 0.078125rem;
              font-size: 0.125rem;
            }
            textarea {
              padding: 0.078125rem;
              resize: none;
              outline: none;
              width: 2.734375rem;
              height: 1.40625rem;
              transition: all 0.3s ease-in;
              font-size: 0.125rem;
            }
            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            input[type="number"] {
              -moz-appearance: textfield;
            }
            .time {
              text-align: center;
              font-size: 0.09375rem;
            }
            // 控制表单的验证结果
            img {
              width: 0.15625rem;
              height: 0.15625rem;
              margin-left: 0.0625rem;
              vertical-align: center;
            }
          }
          .form_error,
          .form_right {
            display: none;
          }
          td:nth-child(1) {
            font-size: 0.125rem;
            width: 0.546875rem;
          }
        }
        tr:last-child {
          width: 100%;
          text-align: center;
          td {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            input {
              width: 0.625rem;
              outline: none;
              border: 1px solid #eee;
            }
            input:focus {
              background-color: #337ab7;
            }
          }
        }
      }
    }
  }
}
