// 导航栏开始
* {
  box-sizing: border-box;
}
body {
  width: 100vw;
}
body::-webkit-scrollbar {
  display: none;
}
.NavBar {
  width: 100%;
  height: 0.390625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 99999;
  .Nav_Left {
    float: left;
    width: 0.3125rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .qs {
      color: #273849;
      font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
      font-weight: 500;
      font-size: 0.195313rem;
      margin: 0;
      line-height: 0;
      cursor: pointer;
      text-align: center;
      transition: all 0.3s ease-in;
      padding-left: 0.15625rem;
    }
    .qs:hover {
      transform: translateX(calc(0.03123rem / 2));
      letter-spacing: 0.03125rem;
    }
  }
  input {
    width: 2.34375rem;
    height: 0.234375rem;
    line-height: 0.234375rem;
    box-sizing: border-box;
    padding: 0 0.117188rem 0 0.234375rem;
    border: 1px solid #e3e3e3;
    color: #273849;
    outline: none;
    border-radius: 0.117188rem;
    transition: border-color 0.2s ease;
    background: #fff url(https://cn.vuejs.org/images/search.png) 8px 5px no-repeat;
    background-size: 0.15625rem;
    vertical-align: middle !important;
    font-size: 0.109375rem;
  }
  input:focus {
    border-color: #42b983;
  }
  .Nav_Right {
    float: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    ul {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0 0.15625rem 0 0;
      li {
        font-size: 0.125rem;
      }
      .learn {
        color: #42b983;
      }
      .Node,
      .Vue,
      .React {
        width: 0.390625rem;
        text-align: center;
        a {
          color: #337ab7 !important;
        }
      }
      .Node,
      .Vue,
      input,
      .learn {
        margin-right: 0.078125rem;
      }
      .Node:hover a,
      .Vue:hover a,
      .React:hover a {
        color: #42b983 !important;
      }
    }
  }
  // 超小屏幕下
  .Nav_Center {
    display: none;
  }
  .Nav_End {
    width: 0.3125rem;
    display: none;
    text-align: center;
    img {
      cursor: pointer;
    }
  }
}
