* {
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
// 设置NavBar 的下边框
.NavBar {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 99;
}
.container-fluid {
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  top: 0;
  // 回到顶部
  .goTop {
    position: fixed;
    display: none;
    bottom: 0.390625rem;
    right: 0.390625rem;
    z-index: 999;
    width: 0.625rem;
    height: 0.625rem;
    img {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
  .sliderBar {
    height: calc(100vh - 0.390625rem);
    width: 2.34375rem;
    background-color: #fff;
    float: left;
    overflow-y: scroll;
    transition: all 0.4s cubic-bezier(0.4, 0, 0, 1);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 18px;
    position: relative;
    z-index: 9;
    a {
      display: block;
    }
    .title {
      width: 100%;
      margin-bottom: 0.15625rem;
      h3 {
        text-align: center;
        font-size: 0.171875rem;
      }
    }
    div {
      padding-left: 0.15625rem;
      h4 {
        padding-left: 0.15625rem;
        font-size: 0.125rem;
        letter-spacing: 0.007813rem;
      }
      ul {
        padding: 0;
        li {
          font-size: 0.109375rem;
          padding-left: 0.234375rem;
          margin-top: 0.078125rem;
          a {
            color: #555;
            text-decoration: none;
            transition: all 0.3s ease-in;
            letter-spacing: 0.004687rem;
          }
          a:hover {
            transform: translateX(-0.015625rem * 2);
            letter-spacing: 0.015625rem;
            text-decoration: underline;
            color: #42b983;
          }
        }
      }
    }
    .feedback {
      width: 100%;
      height: 0.234375rem;
      text-align: center;
      margin-top: 0.15625rem;
      a {
        color: #4e6ef2 !important;
        font-size: 0.15625rem;
      }
    }
  }
  .sliderBar::-webkit-scrollbar {
    width: 0.078125rem;
    height: 0.015625rem;
    background-color: transparent;
  }
  .sliderBar::-webkit-scrollbar-track {
    border-radius: 0.078125rem;
    border: 0.007813rem solid transparent;
    background-color: transparent;
  }
  /*定义滑块，内阴影及圆角*/
  .sliderBar::-webkit-scrollbar-thumb {
    height: 0.015625rem;
    border-radius: 0.078125rem;
    background-color: rgba(66, 184, 131, 0.7);
  }
  .content::-webkit-scrollbar {
    display: none;
  }
  // 笔记内容区域 开始
  .content {
    width: calc(100vw - 2.34375rem);
    height: calc(100vh - 0.390625rem);
    overflow-y: scroll;
    background-color: #fff;
    padding: 0 0.625rem;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    padding-top: 0.15625rem;
    overflow-x: hidden;
    pre,
    code {
      font-family: "Roboto Mono", "Monaco", courier, monospace;
      // background-color: #f8f8f8;
      -webkit-font-smoothing: initial;
      overflow-x: auto;
      // color: #525252;
      white-space: pre;
      padding: 1.2em 1.4em;
      font-size: 0.125rem;
      line-height: 0.234375rem;
      display: block;
      font-weight: 500;
      padding-left: 20px !important;
    }
    .title {
      width: 100%;
      text-align: center;
      font-size: 0.234375rem;
      letter-spacing: 0.078125rem;
      h1 {
        width: 100%;
        text-align: left;
      }
    }
    .C {
      width: 100%;
      padding-left: 0.078125rem;
      margin-bottom: 0.15625rem;
      p {
        position: relative;
        z-index: 1;
        font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
        font-size: 0.125rem;
        padding-left: 0.078125rem;
        span {
          letter-spacing: 0.011719rem;
          background-color: #f5e7e8;
        }
        em {
          display: block;
          font-size: 0.109375rem;
          padding-left: 0.078125rem;
          color: #666;
          i {
            display: block;
            font-size: 0.078125rem;
            padding-left: 0.078125rem;
            color: #444;
          }
        }
      }
      .explain {
        margin-top: 0.234375rem;
        pre {
          padding: 0 !important;
        }
        code {
          width: 100% !important;
          padding: 0.039063rem !important;
          border-radius: 2px;
        }
        pre,
        code {
          font-family: "Roboto Mono", "Monaco", courier, monospace;
          // background-color: #f8f8f8;
          -webkit-font-smoothing: initial;
          overflow-x: auto;
          // color: #525252;
          white-space: pre;
          padding: 1.2em 1.4em;
          font-size: 0.125rem;
          line-height: 0.234375rem;
          display: block;
          font-weight: 500;
          padding-left: 20px !important;
        }
        margin-bottom: 0.117188rem;
      }
    }
    .C4 {
      h4 {
        color: rgb(79, 192, 141);
        margin: 0.234375rem 0rem 0.117188rem 0rem;
      }
    }
  }
  // 笔记内容区域 结束
}
