a {
  color: black;
  text-decoration: none;
}
li {
  list-style: none;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container-fluid {
  margin: 0;
  padding: 0;
}
.container {
  background-color: #fff;
}
body {
  background-color: #fff !important;
}
// 侧边栏
.slideBar {
  top: 0.234375rem + 0.390625rem !important;
}
@media screen and (max-width: 750px) {
  .Nav_Left {
    width: 0.46875rem !important;
    justify-content: flex-start;
    margin-left: 0.015625rem !important;
  }
  .Nav_End {
    margin-left: 0.039063rem !important;
  }
}
// 广告位置
.adver {
  width: 100%;
  height: 0.234375rem;
  background-color: #42b983;
  position: fixed;
  top: 0;
  z-index: 999999;
}
.NavBar {
  margin-top: 0.234375rem;
}
.Nav_Left {
  a {
    color: black;
    font-size: 12px;
    margin-left: 0.078125rem;
    text-decoration: none;
  }
}
// 轮播图开始
.swiper1,
.swiper2 {
  margin-top: 0.78125rem !important;
}
.swiper1 {
  margin-top: 0.546875rem;
  width: 100%;
  height: 2.34375rem;
}
.slide1 {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  transition: 300ms;
  transform: scale(0.8);
  img {
    width: 150%;
    height: 100%;
  }
}
.swiper-slide-active {
  position: relative;
  z-index: 999;
}
.swiper-slide-active,
.swiper-slide-duplicate-active {
  transform: scale(1);
}
// 轮播图结束

// 超小屏幕  轮播图开始
.swiper2 {
  width: 100%;
  height: 100%;
  display: none;
}
.slide2 {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  img {
    width: 100% !important;
    height: 2.34375rem !important;
  }
}
.pagination2 {
  display: none;
}
// 超小屏幕  轮播图结束

// 侧边栏
.slideBar {
  position: fixed;
  top: 0.234375rem;
  left: -1.875rem;
  bottom: 0;
  width: 1.875rem;
  z-index: 099;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s linear;
  .title {
    width: 100%;
    p {
      text-align: center;
      font-size: 0.125rem;
      margin-top: 0.078125rem;
      color: #42b983;
      letter-spacing: 0.078125rem;
    }
  }
  .diary_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 0.703125rem;
    a {
      font-size: 0.109375rem;
      flex: 1;
      letter-spacing: 0.007813rem;
      text-decoration: none;
    }
    a:hover {
      color: #42b983;
      text-decoration: underline;
    }
  }
  .feedback {
    width: 100%;
    height: 0.234375rem;
    text-align: center;
    margin-top: 0.15625rem;
    a {
      color: #4e6ef2 !important;
      font-size: 0.15625rem;
    }
  }
}

// 网站设计简介
.website-presume {
  width: 100%;
  padding-top: 0.3125rem;
  text-align: center;
  overflow: hidden;
  background-color: #fff;
  .row > div {
    // margin-bottom: 0.117188rem;
    height: 3.90625rem;
    padding: 0 0.117188rem !important;
  }
  .row {
    div {
      .title {
        margin-bottom: 0.859375rem;
        margin-left: 0.078125rem;
      }
      .detail {
        position: relative;
        top: 0;
        transition: all 0.2s linear;
        p {
          font-size: 46px;
          line-height: 1.3em;
          margin: 0.46875rem auto 0.15625rem;
          transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transform: translateZ(0);
          font-weight: 800;
          margin-left: auto;
          margin-right: auto;
          position: relative;
          max-width: 680px;
          z-index: 10;
          letter-spacing: -0.3px;
        }
      }
      .row-line span {
        transition: all 0.3s linear;
        display: inline-block;
        width: 0.78125rem;
        height: 3px;
        background-color: #fff;
      }
      .content {
        position: relative;
        top: 0;
        transition: all 0.3s linear;
        margin-top: 0.234375rem;
        ul li a {
          letter-spacing: 0.007813rem;
          font-family: Inter, Source Sans Pro, Helvetica Neue, Arial, sans-serif;
          margin: 0 auto 60px;
          width: 80%;
          z-index: 10;
          max-width: 500px;
          transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
      }
    }
    > div:first-child {
      background-color: #3bab87;
    }
    > div:nth-child(2) {
      background-color: #fdf0ec;
      li {
        color: black;
      }
    }
    > div:nth-child(3) {
      background-color: #98bec8;
      margin: 0 !important;
      padding: 0 !important;
      li {
        color: white;
      }
    }
    > div:nth-child(4) {
      background-color: rgb(209, 225, 224);
      a {
        color: #3bab87;
      }
    }
    > div:hover {
      .detail {
        top: -0.078125rem;
      }
      .row-line {
        span {
          width: 0.70125rem;
        }
      }
      .content {
        top: 0.078125rem;
      }
    }
  }
  .row ul {
    li {
      font-size: 0.125rem;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
  h2 {
    font-family: Inter, Source Sans Pro, Helvetica Neue, Arial, sans-serif;
    font-size: 0.390625rem;
    font-weight: 800;
    letter-spacing: -0.02em;
    text-align: left;
    z-index: 10;
    position: relative;
    line-height: 0.6em;
    pointer-events: none;
  }
  .title {
    margin-bottom: 0.078125rem;
  }
  .content {
    color: #4f5959;
    a {
      color: #4f5959;
    }
  }
}

// 尾部
footer.container-fluid {
  margin-top: 0.015625rem;
  background-color: rgb(71, 80, 80);
  height: 230px;
  .container {
    background-color: rgb(71, 80, 80);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    p {
      color: white;
      word-spacing: 0.05em;
      font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
      font-size: 0.125rem;
    }
    .github {
      width: 100%;
      color: white;
      text-align: center;
      a {
        color: white;
        font-size: 0.125rem;
        text-decoration: none;
      }
      a:hover {
        color: #42b983;
        text-decoration: underline;
      }
    }
    .feedback {
      a {
        color: #337ab7 !important;
      }
    }
  }
}

// 为loding的加载准备
body {
  > .container,
  .container-fluid {
    display: none;
  }
  .loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw !important;
    width: 100vh;
    margin: 0;
    padding: 0;
    background-color: #fffcf9;
    overflow: hidden;
    text-align: center;
    svg {
      width: 100%;
      height: 100%;
      visibility: hidden;
    }
  }
}
