a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #fff;
}

body {
  background-color: #fff !important;
}

.adver {
  width: 100%;
  height: 0.234375rem;
  background-color: #42b983;
  position: fixed;
  top: 0;
  z-index: 999999;
}

.NavBar {
  margin-top: 0.234375rem;
}

.swiper1,
.swiper2 {
  margin-top: 0.78125rem !important;
}

.swiper1 {
  margin-top: 0.546875rem;
  width: 100%;
  height: 2.34375rem;
}

.slide1 {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  transition: 300ms;
  transform: scale(0.8);
}

.slide1 img {
  width: 150%;
  height: 100%;
}

.swiper-slide-active {
  position: relative;
  z-index: 999;
}

.swiper-slide-active,
.swiper-slide-duplicate-active {
  transform: scale(1);
}

.swiper2 {
  width: 100%;
  height: 100%;
  display: none;
}

.slide2 {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.slide2 img {
  width: 100% !important;
  height: 2.34375rem !important;
}

.pagination2 {
  display: none;
}

.slideBar {
  position: fixed;
  top: 0.234375rem;
  left: -1.875rem;
  bottom: 0;
  width: 1.875rem;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s linear;
}

.slideBar .title {
  width: 100%;
}

.slideBar .title p {
  text-align: center;
  font-size: 0.125rem;
  margin-top: 0.078125rem;
  color: #42b983;
  letter-spacing: 0.078125rem;
}

.slideBar .diary_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 0.703125rem;
}

.slideBar .diary_list a {
  font-size: 0.109375rem;
  flex: 1;
  letter-spacing: 0.007813rem;
  text-decoration: none;
}

.slideBar .diary_list a:hover {
  color: #42b983;
  text-decoration: underline;
}

.slideBar .feedback {
  width: 100%;
  height: 0.234375rem;
  text-align: center;
  margin-top: 0.15625rem;
}

.slideBar .feedback a {
  color: #4e6ef2 !important;
  font-size: 0.15625rem;
}

.website-presume {
  width: 100%;
  padding-top: 0.3125rem;
  text-align: center;
}

.website-presume .row > div {
  overflow: hidden;
  margin-bottom: 0.117188rem;
}

.website-presume ul li {
  font-size: 0.125rem;
}

.website-presume ul li a {
  color: #42b983 !important;
}

.website-presume h2 {
  color: #42b983;
  font-size: 0.195313rem;
  font-weight: 400;
  margin: 0;
  padding: 0.5em 0;
}

.website-presume .title {
  margin-bottom: 0.078125rem;
}

.website-presume .content {
  color: #4f5959;
}

.website-presume .content a {
  color: #4f5959;
}

footer.container-fluid {
  background-color: #475050;
  height: 230px;
}

footer.container-fluid .container {
  background-color: #475050;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

footer.container-fluid .container p {
  color: white;
  word-spacing: 0.05em;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 0.125rem;
}

body > .container,
body .container-fluid {
  display: none;
}

body .loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw !important;
  width: 100vh;
  margin: 0;
  padding: 0;
  background-color: #fffcf9;
  overflow: hidden;
  text-align: center;
}

body .loading svg {
  width: 100%;
  height: 100%;
  visibility: hidden;
}
