@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .container-fluid {
    width: 100%;
  }
  .container-fluid .row .book .Nav_Left .qs {
    margin-right: 5px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1050px) {
  .cate > ul li:nth-last-of-type(1) {
    display: none;
  }
  .cate > ul span {
    display: inline-block !important;
  }
}

@media screen and (min-width: 900px) and (max-width: 960px) {
  .cate > ul li:nth-last-of-type(1) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(2) {
    display: none;
  }
  .cate > ul span {
    display: inline-block !important;
  }
}

@media screen and (min-width: 850px) and (max-width: 900px) {
  .cate > ul li:nth-last-of-type(1) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(2) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(3) {
    display: none;
  }
  .cate > ul span {
    display: inline-block !important;
  }
}

@media screen and (min-width: 800px) and (max-width: 850px) {
  .cate > ul li:nth-last-of-type(1) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(2) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(3) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(4) {
    display: none;
  }
  .cate > ul span {
    display: inline-block !important;
  }
}

@media screen and (min-width: 750px) and (max-width: 800px) {
  .cate > ul li:nth-last-of-type(1) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(2) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(3) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(4) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(5) {
    display: none;
  }
  .cate > ul span {
    display: inline-block !important;
  }
}

@media screen and (min-width: 720px) and (max-width: 750px) {
  .cate > ul li:nth-last-of-type(1) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(2) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(3) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(4) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(5) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(6) {
    display: none;
  }
  .cate > ul span {
    display: inline-block !important;
  }
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .cate > ul li:nth-last-of-type(1) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(2) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(3) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(4) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(5) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(6) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(7) {
    display: none;
  }
  .cate > ul span {
    display: inline-block !important;
  }
}

@media screen and (min-width: 550px) and (max-width: 600px) {
  .cate > ul li:nth-last-of-type(1) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(2) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(3) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(4) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(5) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(6) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(7) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(8) {
    display: none;
  }
  .cate > ul span {
    display: inline-block !important;
  }
}

@media screen and (max-width: 550px) {
  .cate > ul li:nth-last-of-type(1) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(2) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(3) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(4) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(5) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(6) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(7) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(8) {
    display: none;
  }
  .cate > ul li:nth-last-of-type(9) {
    display: none;
  }
  .cate > ul span {
    display: inline-block !important;
  }
}

@media screen and (max-width: 750px) {
  .container {
    width: 100vw !important;
  }
  .container .bookInfo .detail {
    width: 100% !important;
  }
  .container .bookInfo .detail .name,
  .container .bookInfo .detail .newArtical,
  .container .bookInfo .detail .wordNumber,
  .container .bookInfo .detail .author,
  .container .bookInfo .detail .updateTime,
  .container .bookInfo .detail .price {
    width: 100%;
  }
  .container .bookInfo .detail .name span:first-child,
  .container .bookInfo .detail .newArtical span:first-child,
  .container .bookInfo .detail .wordNumber span:first-child,
  .container .bookInfo .detail .author span:first-child,
  .container .bookInfo .detail .updateTime span:first-child,
  .container .bookInfo .detail .price span:first-child {
    display: block;
  }
  .container .bookInfo .detail .name span:last-child,
  .container .bookInfo .detail .newArtical span:last-child,
  .container .bookInfo .detail .wordNumber span:last-child,
  .container .bookInfo .detail .author span:last-child,
  .container .bookInfo .detail .updateTime span:last-child,
  .container .bookInfo .detail .price span:last-child {
    display: block;
    width: 95% !important;
    text-align: right;
  }
  .container .bookInfo .detail .shut {
    top: 0.234375rem !important;
  }
  .container .bookInfo .detail .add {
    margin-top: 0.078125rem;
  }
  .container .bookInfo .img {
    width: 1.132813rem;
    height: 1.40625rem;
  }
  .container .bookInfo .img img {
    width: 100%;
    height: 100%;
  }
  .container .shopCart .right {
    position: relative;
    top: 0;
  }
  .container .shopCart .right .delete {
    position: absolute;
    right: 0;
  }
  .container .shopCart .right .delete span {
    width: 0.46875rem;
  }
}

@media screen and (min-width: 1420px) {
  .cartImg {
    right: 1.953125rem !important;
  }
}

@media screen and (max-width: 890px) and (min-width: 320px) {
  .shopCart {
    width: 100% !important;
  }
  .shopCart .footer {
    width: 100% !important;
  }
  .shopCart .list {
    width: 100% !important;
  }
}

:root {
  --animate-duration: 400ms;
  --animate-delay: 0.4s;
}

.active {
  background-color: rgba(255, 255, 255, 0.685);
  color: #666 !important;
}

.row {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh !important;
  overflow: hidden;
  background: url("../../img/bainian.png") no-repeat 0 70px;
  background-size: contain;
  /*定义滑块，内阴影及圆角*/
}

body .container-fluid {
  position: sticky;
  top: 0rem;
  z-index: 99;
  padding: 0;
}

body .container-fluid .main {
  margin-top: 0.390625rem;
  width: 100%;
}

body .container-fluid .main .cate {
  width: 100%;
  height: 0.382813rem;
  background-color: #7acda8;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

body .container-fluid .main .cate > ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

body .container-fluid .main .cate > ul li {
  text-align: center;
  width: 0.78125rem;
  height: 100%;
  line-height: 0.382813rem;
  color: white;
  cursor: pointer;
  font-size: 0.125rem;
}

body .container-fluid .main .cate > ul li:hover {
  background-color: rgba(255, 255, 255, 0.685);
  color: #666;
}

body .container-fluid .main .cate > ul > span {
  display: none;
  position: relative;
  height: 100%;
  line-height: 0.382813rem;
  top: -0.007813rem;
}

body .container-fluid .main .cate > ul > span img {
  width: 0.15625rem;
  height: 0.15625rem;
}

body .container-fluid .main .cate > ul > span .box {
  display: none;
  position: absolute;
  top: 50px;
  right: -19px;
  width: 0.78125rem;
  background-color: rgba(66, 184, 131, 0.7);
}

body .container-fluid .main .cate > ul > span .box > span {
  text-align: center;
  letter-spacing: 0.015625rem;
  font-size: 0.09375rem;
  display: block !important;
  height: 0.15625rem;
  line-height: 0.15625rem;
}

body .container-fluid .main .cate > ul > span .box > span > a {
  display: inline !important;
  color: white;
}

body .container {
  padding-top: 0.15625rem;
  height: calc(100vh - 0.390625rem - 0.382813rem);
  padding-bottom: 0.3125rem;
  overflow-y: scroll;
}

body .container .row {
  width: 100%;
}

body .container .row .renderData {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

body .container .row .renderData .item {
  margin-top: 0.234375rem;
  margin-left: 0.015625rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 0;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

body .container .row .renderData .item:hover {
  top: -0.078125rem;
}

body .container .bookInfo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  user-select: none;
}

body .container .bookInfo .wrapper {
  width: 6.25rem;
  height: 3.90625rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

body .container .bookInfo .wrapper .img {
  margin-left: 0.078125rem;
}

body .container .bookInfo .wrapper .detail {
  width: 100%;
}

body .container .bookInfo .wrapper .detail .name,
body .container .bookInfo .wrapper .detail .newArtical,
body .container .bookInfo .wrapper .detail .wordNumber,
body .container .bookInfo .wrapper .detail .author,
body .container .bookInfo .wrapper .detail .updateTime,
body .container .bookInfo .wrapper .detail .price {
  width: 100%;
}

body .container .bookInfo .wrapper .detail .name span:first-child,
body .container .bookInfo .wrapper .detail .newArtical span:first-child,
body .container .bookInfo .wrapper .detail .wordNumber span:first-child,
body .container .bookInfo .wrapper .detail .author span:first-child,
body .container .bookInfo .wrapper .detail .updateTime span:first-child,
body .container .bookInfo .wrapper .detail .price span:first-child {
  display: inline-block;
  width: 0.546875rem;
  font-size: 0.125rem;
  margin-left: 0.078125rem;
}

body .container .bookInfo .wrapper .detail .name span:last-child,
body .container .bookInfo .wrapper .detail .newArtical span:last-child,
body .container .bookInfo .wrapper .detail .wordNumber span:last-child,
body .container .bookInfo .wrapper .detail .author span:last-child,
body .container .bookInfo .wrapper .detail .updateTime span:last-child,
body .container .bookInfo .wrapper .detail .price span:last-child {
  width: calc(100% - 0.546875rem - 0.078125rem);
  font-size: 0.109375rem;
  color: #337ab7;
}

body .container .bookInfo .wrapper .detail .add {
  width: 100%;
  text-align: center;
}

body .container .bookInfo .wrapper .detail .add span {
  display: inline-block;
  width: 0.78125rem;
  font-size: 0.09375rem;
  height: 0.234375rem;
  line-height: 0.234375rem;
  border-radius: 0.039063rem;
  text-align: center;
  background-color: #e48989;
  cursor: pointer;
}

body .container .bookInfo .wrapper .detail .add span:active {
  background-color: rgba(228, 137, 137, 0.74);
}

body .container .bookInfo .wrapper .detail .shut {
  position: absolute;
  top: 0.078125rem;
  right: 0.3125rem;
  cursor: pointer;
  font-size: 0.140625rem;
}

body .container .bookInfo .wrapper .detail .shut:active {
  border: 0.00781rem solid rgba(255, 255, 255, 0.699);
}

body .container .cartImg {
  position: fixed;
  bottom: 0.15625rem;
  right: 0.15625rem;
  width: 0.3125rem;
  height: 0.3125rem;
  cursor: pointer;
}

body .container .cartImg img {
  width: 100%;
  height: 100%;
}

body .container .cartImg .count {
  position: absolute;
  top: -0.007813rem;
  right: -0.117188rem;
  color: #d81e06;
  font-weight: 700;
}

body .container .shopCart {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
  user-select: none;
}

body .container .shopCart .list {
  width: 6.25rem;
  overflow-y: auto;
  border: 0.00781rem solid #dbdbdb;
}

body .container .shopCart .list .item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 0.78125rem;
  border-bottom: 0.007813rem solid #eee;
  margin-top: 0.039063rem;
  font-size: 0.109375rem;
}

body .container .shopCart .list .item .left {
  margin: 0 0.078125rem;
}

body .container .shopCart .list .item .left input {
  transform: scale(1.4);
}

body .container .shopCart .list .item .right {
  width: calc(100%);
  height: 100%;
  overflow: hidden;
}

body .container .shopCart .list .item .right img {
  float: left;
  width: 0.585938rem;
  height: 0.78125rem;
}

body .container .shopCart .list .item .right .divFlex {
  float: left;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

body .container .shopCart .list .item .right .divFlex img,
body .container .shopCart .list .item .right .divFlex .name,
body .container .shopCart .list .item .right .divFlex .author,
body .container .shopCart .list .item .right .divFlex .price {
  margin-top: 0.007813rem;
}

body .container .shopCart .list .item .right .delete {
  float: right;
  margin-right: 0.234375rem;
  line-height: 0.78125rem;
}

body .container .shopCart .list .item .right .delete span {
  display: inline-block;
  width: 100px;
  height: 0.234375rem;
  background-color: #f19393;
  line-height: 0.234375rem;
  text-align: center;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

body .container .shopCart .list .item .right .delete span:active {
  background-color: rgba(241, 147, 147, 0.541);
}

body .container .shopCart .list .item .right .name,
body .container .shopCart .list .item .right .author,
body .container .shopCart .list .item .right .price {
  margin: 0 0.15625rem;
}

body .container .shopCart .footer {
  width: 6.25rem;
  overflow-y: auto;
  border: 0.00781rem solid #dbdbdb;
  font-size: 0.125rem;
}

body .container .shopCart .footer .AllStatecheck {
  float: left;
  line-height: 0.3125rem;
  margin: 0 0.078125rem;
}

body .container .shopCart .footer .AllStatecheck input {
  transform: scale(1.4);
}

body .container .shopCart .footer .buy {
  float: right;
  line-height: 0.3125rem;
  margin-right: 0.234375rem;
}

body .container .shopCart .footer .buy span {
  display: inline-block;
  width: 0.78125rem;
  height: 0.234375rem;
  background-color: #e74949;
  line-height: 0.234375rem;
  text-align: center;
  color: white;
  border-radius: 0.039063rem;
  cursor: pointer;
}

body .container .shopCart .footer .buy span:active {
  background-color: rgba(231, 73, 73, 0.733);
}

body .container .shopCart .footer .shut {
  float: right;
  margin-right: 0.3125rem;
  line-height: 0.3125rem;
}

body .container .shopCart .footer .shut span {
  cursor: pointer;
}

body .container .shopCart .footer .shut span:active {
  border: 0.007813rem solid #fff;
}

body .container::-webkit-scrollbar {
  width: 0.078125rem;
  height: 0.015625rem;
  background-color: transparent;
}

body .container::-webkit-scrollbar-track {
  border-radius: 0.078125rem;
  border: 0.007813rem solid transparent;
  background-color: transparent;
}

body .container::-webkit-scrollbar-thumb {
  height: 0.015625rem;
  border-radius: 0.078125rem;
}
