body > div > div.sliderBar > div > ul > li > ul {
}
body > div > div.sliderBar > div > ul > li > ul li {
  padding-left: 0.078125rem !important;
  font-size: 0.0625rem !important;
  color: #777;
}
.feedback {
  width: 100%;
  height: 0.234375rem;
  text-align: center;
  margin-top: 0.15625rem;
}
.feedback a {
  color: #4e6ef2 !important;
  font-size: 0.15625rem;
}
